#auth-container {
    background: linear-gradient(0deg, rgba(2, 42, 156, 0.3), rgba(2, 42, 156, 0.3)), linear-gradient(232.85deg, #020529 -52%, #000B8E 198.1%);
}
#auth-container {
    font-family: Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background: linear-gradient(314deg,#54a5ff -40%,#03299C);
    position: relative;
}

#auth-container {
    font-family: Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background: linear-gradient(314deg,#54a5ff -40%,#03299c);
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
    right: 0;
}


.auth-inner {
    position: relative;
    margin: 0 auto;
    width: 950px;
    padding: 30px;
    margin-top: 2%;
}

.auth-messaging {
    width: 100%;
    height: 540px;
    position: relative;
    box-shadow: 1px 1px 21px -9px grey;
    background-color: #ffffff;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.2);
    background-size: 40% 100%;
    background-repeat: no-repeat;
}


//CREATE ACCOUNT BUTTON CSS
.create_account{
    position: absolute;
    right: 14px;
    top: 9px;
    top: 18px;
    cursor: pointer;
    font-size: 13px;
    span{
        margin-left: 12px;
        border: solid 1px #d6c8c8;
    padding: 8px;
    }
    span:hover{
        background: #171744;
        color: white;
    }
}

.auth_main_container{
    display: inline-flex;
    width: 100%;
    align-items: center;
    background: linear-gradient(to left, #ffffff 64%, #171744 50%);
    height: 100%;
}
.app_information{
    width: 40%;
    text-align: center;
    h2{
        color: white;
    }
}
.login_form_container{
    width: 42%;
    padding-left: 65px;
}

.sub_head{
    color: white;
    font-size: 10px;
    letter-spacing:2px;
}


//LOGIN FORM
.login_form_heading{
    font-weight: bold;
    color: #20344d;
    font-size: 18px;
}
.login_form_subheading{
    font-size: 12px;
    color: #9f9f9f;
    margin-bottom: 35px;
}
.login_input_label{
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #343333;
}
.login_input_box{
    position: relative;
    input{
        width: 100%;
        height: 39px;
        border: solid 1px #bdbdbd;
        border-radius: 2px;
        padding-left: 17%;
        color: #023788;
        font-weight: bold;
    }
}
.input_box_icon{
    width: 35px;
    position: absolute;
    left: 11px;
    top: 10px;
    border-right: solid 1px #b1b1b1;
    padding-right: 9px;
    
}

.padding_top{
    margin-top: 19px;
}

  
input:focus {
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
    background-color: #fbfbfb;
    color: white;
  }

  .app_submit{
    width: 146px;
    border-radius: 0px;
    font-size: 13px;
    padding: 9px;
    margin-top: 18px;
  }
  .password_label{
      width: 30%;
  }
  
  .forgot_password{
    font-size: 11px;
    color: #1e344c;
    font-weight: bold;
    text-align: end;
    cursor: pointer;
    width: 70%;
    text-decoration: underline;
  }

  .remember_me{
    margin-top: 7px;
  }



  .bottom_information{
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0;
    padding-bottom: 10px;
    padding-left: 11px;
    padding-right: 11px;
    .version{
        color: white;
        width: 30%;
        font-size: 11px;
    }
    .need_help{
        width: 70%;
        text-align: end;
        font-size: 11px;
        color: gray;
        cursor: pointer;
        a{
            color: #2b6fd1;
            font-weight: bold;
        }
    }
  }
::placeholder { 
    color: rgb(163, 163, 163);
    font-size: 12px;
    opacity: 1; 
    font-weight: normal;
    letter-spacing: 1px;
  }

 
  .flex{
      display: inline-flex;
      width: 100%;
  }

  .singUP_Input{
    padding-left: 2% !important;
    color: #023788;
    padding-top: 7px;
  }

  .sign_label{
    margin-top: 8px;
  }