<section class="deskTop">
    <div class="container-fluid">
        <div id="auth-container">
            <div class="auth-inner">
                <div class="auth-body animated fadeIn">
                    <div class="auth-messaging login">
                        <div class="create_account"  *ngIf="openTab == 'login' " (click)="openTab = 'signUp'">
                            Don't have Account <span>Create Account</span>
                        </div>
                        <div class="create_account"  *ngIf="openTab == 'signUp' " (click)="openTab = 'login'">
                            Have  an Account <span>Sing In </span>
                        </div>
                        <div class="auth_main_container">
                            <div class="app_information">
                                <h2>Welcome</h2>
                                <div class="sub_head">Employee Management System</div>
                            </div>

                            <!--LOGIN FORM-->
                            <div class="login_form_container" *ngIf="openTab == 'login' ">
                                <div class="login_form_heading">SIGN IN</div>
                                <div class="login_form_subheading">Enter your login details below</div>
                                <form name="appForm" #appForm="ngForm" novalidate
                                    (ngSubmit)="appForm.valid && login(appForm)">
                                    <div class="login_input_label">EMAIL ADDRESS</div>
                                    <div class="login_input_box">
                                        <img class="input_box_icon" src="assets/icon/mail.png">
                                        <input type="text" placeholder="Enter Your Email Address" name="email"
                                            #email="ngModel" [(ngModel)]="formDATA.email" required>
                                    </div>
                                    <div *ngIf="email.valid || email.touched || appForm.submitted"
                                        class="validationError animated fadeIn">
                                        <div *ngIf="email.errors && email.errors.required" class="validationErrorInner">
                                            Email Address Required
                                        </div>
                                    </div>
                                    <div class="padding_top flex">
                                        <div class="login_input_label password_label">PASSWORD</div>
                                    </div>
                                    <div class="login_input_box">
                                        <img class="input_box_icon" src="assets/icon/lock.png">
                                        <input type="password" placeholder="Enter Your Password" name="password"
                                            #password="ngModel" [(ngModel)]="formDATA.password" required>
                                    </div>
                                    <div *ngIf="password.valid || password.touched || appForm.submitted"
                                        class="validationError animated fadeIn">
                                        <div *ngIf="password.errors && password.errors.required"
                                            class="validationErrorInner">
                                            Password Required
                                        </div>
                                    </div>

                                    <button type="submit" class="app_submit">
                                        SIGN IN
                                    </button>
                                </form>
                            </div>

                            <!---REGISTRATION FORM-->

                            <div class="login_form_container"  *ngIf="openTab == 'signUp'">
                                <div class="login_form_heading">SIGN UP</div>
                                <div class="login_form_subheading" style="margin-bottom: 14px;">Enter Your Detail And Create Account</div>
                                <form name="appForm" #appForm="ngForm" novalidate
                                    (ngSubmit)="appForm.valid && doSignUp(appForm)">

                                    <div class="login_input_label sign_label">YOUR NAME</div>
                                    <div class="login_input_box">
                                        <input type="text" class="singUP_Input" placeholder="Enter Your Name" name="name"
                                            #name="ngModel" [(ngModel)]="formDATA.name" required>
                                    </div>
                                    <div *ngIf="name.valid || name.touched || appForm.submitted"
                                        class="validationError animated fadeIn">
                                        <div *ngIf="name.errors && name.errors.required" class="validationErrorInner">
                                            Name is required
                                        </div>
                                    </div>


                                    <div class="login_input_label sign_label">EMAIL ADDRESS</div>
                                    <div class="login_input_box">
                                        <input type="text" class="singUP_Input" placeholder="Enter Your Email Address" name="email"
                                            #email="ngModel" [(ngModel)]="formDATA.email" required>
                                    </div>
                                    <div *ngIf="email.valid || email.touched || appForm.submitted"
                                        class="validationError animated fadeIn">
                                        <div *ngIf="email.errors && email.errors.required" class="validationErrorInner">
                                            Email Address Required
                                        </div>
                                    </div>


                                       <div class="login_input_label sign_label">COMPANY</div>
                                       <div class="login_input_box">
                                           <input type="text" class="singUP_Input" placeholder="Enter Your Company Name" name="company"
                                               #company="ngModel" [(ngModel)]="formDATA.company" required>
                                       </div>
                                       <div *ngIf="company.valid || company.touched || appForm.submitted"
                                           class="validationError animated fadeIn">
                                           <div *ngIf="company.errors && company.errors.required" class="validationErrorInner">
                                             Company is required
                                           </div>
                                       </div>

                                    <div class="flex">
                                        <div class="login_input_label password_label sign_label">PASSWORD</div>
                                    </div>
                                    <div class="login_input_box">
                                        <input type="password" class="singUP_Input" placeholder="Enter Your Password" name="password"
                                            #password="ngModel" [(ngModel)]="formDATA.password" required>
                                    </div>
                                    <div *ngIf="password.valid || password.touched || appForm.submitted"
                                        class="validationError animated fadeIn">
                                        <div *ngIf="password.errors && password.errors.required"
                                            class="validationErrorInner">
                                            Password Required
                                        </div>
                                    </div>
                                    <button type="submit" class="app_submit">
                                        SIGN UP
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>