<header class="header">
    <nav class="navbar navbar-toggleable-md navbar-light pad0 ">
      <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"> 
           <div class="app_name">MindBrowser</div>
          </div>

          <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 pad0">
            <span class="tabs1" style="margin-left: 72px;" [routerLink]="['/app/home']">Employee</span>   
            <span class="tabs1" [routerLink]="['/app/subscription']">Subscription</span>
          </div>
      <div class="col-9 col-sm-5 col-md-5 col-lg-5 col-xl-5 pad0">
        <div class="desktopview">
          <div class="dropdown" id="user">
            <a data-toggle="dropdown" class="float-right" aria-haspopup="true" aria-expanded="false" id="dropdownMenuButton">
              <img class="logoutImg" src="https://prepinsta.com/wp-content/plugins/lexcis-feed/images/avatar/profile.png">
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <div id="triangle-up"></div>
              <a class="dropdown-item subThemeColor capital"><b>{{sessionUser.firstName}} {{sessionUser.lastName}}</b></a>
              <a class="dropdown-item" >Email:{{sessionUser.email}}</a>
              <hr class="popuphr">
              <a  class="dropdown-item" (click)="logOut()">
                <div>Sign Out</div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>