.logo{width:75px;}
.margin-rm{margin: 0px;}
a:hover{ text-decoration: none; }
/** ====================== header ==============================**/
.header{
background-color: white;
box-shadow: 0px 0px 7px rgba(0,0,0,0.3)}
.app_name{
font-size: 22px;
font-weight: bold;
color: #fe801f;
cursor: pointer;
}

.logoutImg{
width: 36px;
border: solid 1px #d8d8d8;
border-radius: 36px;
padding: 2px;
cursor: pointer;
}

#user {
.dropdown-menu {
z-index: 99999;
position: absolute;
margin-top: 49px;
right: 0;
left: unset;
border-radius: 2px;
box-shadow: 0 1px 3px 0 rgba(131, 129, 128, 0.1);
padding-bottom: 0px;
cursor: pointer;
padding-left: 11px;
padding-right: 9px;
}
}
hr {
margin: 0px;
}

.dropdown-item {
padding-top: 8px;
padding-bottom: 10px;
font-size: 16px;
}

.opacity {
opacity: 0.7;
}

#triangle-up {
width: 0;
height: 0;
border-left: 13px solid transparent;
border-right: 13px solid transparent;
border-bottom: 13px solid white;
position: absolute;
bottom: 100%;
right: 3%;
}

.themeColor{
color:var(--themeColor);
}

.subThemeColor{
color:var(--subThemeColor) !important;
}

.capital{
text-transform: capitalize;
}

@media (max-width: 768px) {
.toggleIcon{
display: block;
}
.app_name{
margin-left: 0px;
}

}

//HEADER TAB
.tabs1{
    font-weight: bold;
    padding-right: 16px;
    cursor: pointer;

}
.tabs1:hover{
    color: #fe8284;
}

:focus {
    outline: none
}