table{
    border: solid 1px #ededed;
    margin: auto;
    margin-top: 18px;
    width: 100%;
}

thead{
    background: #f7f7f7;
}
th {
    padding-top: 8px;
    padding-bottom: 10px;
    font-size: 12px;
    border-right: solid 1px white;
    padding-left: 10px;
}

td {
    padding-top: 8px;
    padding-bottom: 10px;
    font-size: 14px;
    border-right: solid 1px rgb(236, 236, 236);
    padding-left: 10px;
    i{
        font-size: 20px;
        margin-right: 5px;
        cursor: pointer;
    }
}


.no_record{
    text-align: center;
    margin-top: 9px;
    color: #1c528c;
}