<section>
    <div class="container-fluid">
        <div class="row ">
            <div class="col-6 col-sm-6 col-md-2 col-lg-2 col-xl-2 "></div>
            <div class="col-6 col-sm-6 col-md-8 col-lg-6 col-xl-6 ">
                <br> <br>
                <h5>Employee List</h5>
            </div>
            <div class="col-6 col-sm-6 col-md-2 col-lg-2 col-xl-2 text_right">
                <br><br>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Add
                    Employee</button>
            </div>
            <div class="col-6 col-sm-6 col-md-2 col-lg-2 col-xl-2 "></div>
            <div class="col-6 col-sm-6 col-md-2 col-lg-2 col-xl-2 "></div>
            <div class="col-6 col-sm-6 col-md-8 col-lg-8 col-xl-8 ">
                <table>
                    <thead>
                        <tr>
                            <th>SR NO</th>
                            <th>FIRST NAME</th>
                            <th>LAST NAME</th>
                            <th>CONTACT</th>
                            <th>DOB</th>
                            <th>ADDRESS</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="empList?.length > 0">
                        <tr *ngFor="let emp of empList">
                            <td>1</td>
                            <td>{{emp.firstName}}</td>
                            <td>{{emp.lastName}}</td>
                            <td>{{emp.mobile}}</td>
                            <td>{{emp.dob | date:'mediumDate'}}</td>
                            <td>
                                <span *ngIf="emp.address && emp.address.line1">{{emp.address.line1}}</span>
                                <span *ngIf="emp.address && emp.address.landmark">,{{emp.address.landmark}}</span>
                                <span *ngIf="emp.address && emp.address.city">,{{emp.address.city}}</span>
                                <span *ngIf="emp.address && emp.address.state">,{{emp.address.state}}</span>
                                <span *ngIf="emp.address && emp.address.postalCode">,{{emp.address.postalCode}}</span>
                                <span *ngIf="emp.address && emp.address.country">,{{emp.address.country}}</span>
                            </td>
                            <td>
                                <i class="fa fa-pencil-square-o" (click)="prepareEdit(emp)" aria-hidden="true"></i>
                                <i class="fa fa-trash-o" aria-hidden="true" (click)="deleteEmp(emp.empId)"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="no_record" *ngIf="empList?.length <= 0">No Record Found</div>
            </div>
            <div class="col-6 col-sm-6 col-md-2 col-lg-2 col-xl-2 "></div>
        </div>
    </div>
</section>


<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add New Employee</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form name="appForm" #appForm="ngForm" novalidate (ngSubmit)="appForm.valid && submit()">
                <div class="modal-body">

                    <div class="row ">
                        <div class="col-6 col-sm-6 col-md-2 col-lg-2 col-xl-6">
                            <div class="form-group">
                                <label for="exampleInputEmail1">First Name <span class="asterisk ">*</span></label>
                                <input type="text" class="form-control" placeholder="Enter first name" name="firstName"
                                    #firstName="ngModel" [(ngModel)]="formDATA.firstName" required>
                                <div *ngIf="firstName.valid || firstName.touched || appForm.submitted"
                                    class="validationError animated fadeIn">
                                    <div *ngIf="firstName.errors && firstName.errors.required" class="validationErrorInner">
                                        First Name Required
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-sm-6 col-md-2 col-lg-2 col-xl-6">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Last Name <span class="asterisk ">*</span></label>
                                <input type="text" class="form-control" placeholder="Enter last name" name="lastName"
                                    #lastName="ngModel" [(ngModel)]="formDATA.lastName" required>
                                <div *ngIf="lastName.valid || lastName.touched || appForm.submitted"
                                    class="validationError animated fadeIn">
                                    <div *ngIf="lastName.errors && lastName.errors.required" class="validationErrorInner">
                                        Last  Name Required
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-sm-6 col-md-2 col-lg-2 col-xl-6">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Mobile <span class="asterisk ">*</span></label>
                                <input type="text" class="form-control" placeholder="Enter mobile no." name="mobile"
                                    #mobile="ngModel" [(ngModel)]="formDATA.mobile" required pattern="^[6-9][0-9]{9}$"
                                    maxlength="10" minlength="10"  (keypress)="validatePattern($event)">
                                <div *ngIf="mobile.valid || mobile.touched || appForm.submitted"
                                    class="validationError animated fadeIn">
                                    <div *ngIf="mobile.errors && mobile.errors.required" class="validationErrorInner">
                                        Mobile No Required
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-sm-6 col-md-2 col-lg-2 col-xl-6">
                            <div class="form-group">
                                <label for="exampleInputEmail1">DOB<span class="asterisk ">*</span></label>
                                <input type="date" class="form-control" placeholder="Enter date of birth " name="dob"
                                    #dob="ngModel" [(ngModel)]="formDATA.dob" required>
                                <div *ngIf="dob.valid || dob.touched || appForm.submitted"
                                    class="validationError animated fadeIn">
                                    <div *ngIf="dob.errors && dob.errors.required" class="validationErrorInner">
                                       DOB Required
                                    </div>
                                </div>
                            </div>   
                        </div>
                        <div class="col-6 col-sm-6 col-md-2 col-lg-2 col-xl-6">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Address line 1<span class="asterisk ">*</span></label>
                                <input type="text" class="form-control" placeholder="Enter first name" name="line1"
                                    #line1="ngModel" [(ngModel)]="formDATA.address.line1" required>
                                <div *ngIf="line1.valid || line1.touched || appForm.submitted"
                                    class="validationError animated fadeIn">
                                    <div *ngIf="line1.errors && line1.errors.required" class="validationErrorInner">
                                        Line 1 Address Required
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-sm-6 col-md-2 col-lg-2 col-xl-6">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Street/Landmark<span class="asterisk ">*</span></label>
                                <input type="text" class="form-control" placeholder="Enter Street Landmark" name="landmark"
                                    #landmark="ngModel" [(ngModel)]="formDATA.address.landmark" required>
                                <div *ngIf="landmark.valid || landmark.touched || appForm.submitted"
                                    class="validationError animated fadeIn">
                                    <div *ngIf="landmark.errors && landmark.errors.required" class="validationErrorInner">
                                        Landmark Required
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-6 col-sm-6 col-md-2 col-lg-2 col-xl-6">
                            <div class="form-group">
                                <label for="exampleInputEmail1">City<span class="asterisk ">*</span></label>
                                <input type="text" class="form-control" placeholder="Enter city" name="city"
                                    #city="ngModel" [(ngModel)]="formDATA.address.city" required>
                                <div *ngIf="city.valid || city.touched || appForm.submitted"
                                    class="validationError animated fadeIn">
                                    <div *ngIf="city.errors && city.errors.required" class="validationErrorInner">
                                        First Name Required
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-sm-6 col-md-2 col-lg-2 col-xl-6">
                            <div class="form-group">
                                <label for="exampleInputEmail1">State<span class="asterisk ">*</span></label>
                                <input type="text" class="form-control" placeholder="Enter state" name="state"
                                    #state="ngModel" [(ngModel)]="formDATA.address.state" required>
                                <div *ngIf="state.valid || state.touched || appForm.submitted"
                                    class="validationError animated fadeIn">
                                    <div *ngIf="state.errors && state.errors.required" class="validationErrorInner">
                                     State Required
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-sm-6 col-md-2 col-lg-2 col-xl-6">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Zip Code<span class="asterisk ">*</span></label>
                                <input type="text" class="form-control" placeholder="Enter zip code" name="pinCode"
                                    #pinCode="ngModel" [(ngModel)]="formDATA.address.postalCode" required (keypress)="validatePattern($event)">
                                <div *ngIf="pinCode.valid || pinCode.touched || appForm.submitted"
                                    class="validationError animated fadeIn">
                                    <div *ngIf="pinCode.errors && pinCode.errors.required" class="validationErrorInner">
                                     Pin Code Required
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-sm-6 col-md-2 col-lg-2 col-xl-6">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Country<span class="asterisk ">*</span></label>
                                <input type="text" class="form-control" placeholder="Enter country" name="country"
                                    #country="ngModel" [(ngModel)]="formDATA.address.country" required>
                                <div *ngIf="country.valid || country.touched || appForm.submitted"
                                    class="validationError animated fadeIn">
                                    <div *ngIf="country.errors && country.errors.required" class="validationErrorInner">
                                        Country Required
                                    </div>
                                </div>
                            </div>
                        </div>
                   </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>