<section>
    <div class="container-fluid">
        <div class="row ">
            <div class="col-6 col-sm-6 col-md-2 col-lg-2 col-xl-2 "></div>
            <div class="col-6 col-sm-6 col-md-2 col-lg-2 col-xl-2 pad0 text_center">
                <br><br>
                <div class="subscription_tab " [ngClass]="{'active_tab':tab == 'newSubscription'}"
                    (click)="changeTab('newSubscription')">Subscriptions</div>
            </div>
            <div class="col-6 col-sm-6 col-md-2 col-lg-2 col-xl-2 pad0 text_center">
                <br><br>
                <div class="subscription_tab" [ngClass]="{'active_tab':tab == 'mySubscription'}"
                    (click)="changeTab('mySubscription')">Your Subscriptions</div>
            </div>
            <div class="col-6 col-sm-6 col-md-2 col-lg-2 col-xl-6 "></div>
            <div class="col-6 col-sm-6 col-md-2 col-lg-2 col-xl-2 "></div>
            <div class="col-6 col-sm-6 col-md-8 col-lg-8 col-xl-8 ">

              <div class="row " *ngIf="tab == 'newSubscription'">
                <div class="col-6 col-sm-6 col-md-2 col-lg-2 col-xl-6 " *ngFor="let item of packages">
                  <div class="subscription_pack" >
                    <div class="pack_name">{{item.packageName}}</div>
                    <p class="pack_amount"> ₹ {{item.amount}} / 
                      <span *ngIf="item.validityKey == 1">Day</span>
                      <span *ngIf="item.validityKey == 2">Month</span>
                      <span *ngIf="item.validityKey == 3">Year</span>
                    </p>
                    <div class="pack_billed">
                      <span *ngIf="item.validityKey == 1">Days</span>
                      <span *ngIf="item.validityKey == 2">Monthly</span>
                      <span *ngIf="item.validityKey == 3">Yearly</span>
                    </div>
                    <div class="pack_benifit">
                      <div *ngIf="item?.benefits?.length > 0">
                        <div *ngFor="let benefit of  item.benefits;let last=last">
                          <ul>
                            <li class="lable">{{benefit}}</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="buy_button" *ngIf="!item.subscribed" (click)="buyPackage(item)"> Buy</div>
                    <div class="buy_button subscribed_button" *ngIf="item.subscribed">OnGoing</div>
                </div>
                </div>
              </div>


              <div class="row " *ngIf="tab == 'mySubscription'">
                <div class="no_subscription" *ngIf="packages?.length <= 0 ">No  Subscription Available</div>
                 <div  *ngIf="packages?.length > 0 " style="width: 100%;">
                  <div class="col-6 col-sm-6 col-md-2 col-lg-2 col-xl-6" *ngFor="let item of packages">
                    <div class="subscription_pack" >
                      <div class="pack_name">{{item.packageName}}</div>
                      <p class="pack_amount"> ₹ {{item.amount}} / 
                        <span *ngIf="item.validityKey == 1">Day</span>
                        <span *ngIf="item.validityKey == 2">Month</span>
                        <span *ngIf="item.validityKey == 3">Year</span>
                      </p>
                      <div class="pack_billed">
                        <span *ngIf="item.validityKey == 1">Days</span>
                        <span *ngIf="item.validityKey == 2">Monthly</span>
                        <span *ngIf="item.validityKey == 3">Yearly</span>
                      </div>
                      <div class="pack_benifit">
                        <div *ngIf="item?.benefits?.length > 0">
                          <div *ngFor="let benefit of  item.benefits;let last=last">
                            <ul>
                              <li class="lable">{{benefit}}</li>
                            </ul>
                          </div>
                        </div>
                      </div>   
                      <div class="resume_subscription">Remaining Days : {{item.remaingDays}}</div>
                     <div *ngIf="item.remaingDays <=0">
                      <div class="buy_button subscribed_cancelled_button">Expired</div>
                    </div>
                    <div *ngIf="item.remaingDays >0">
                      <div class="buy_button subscribed_button" *ngIf="item.paymentStatus == 2">OnGoing</div>
                      <div class="buy_button subscribed_cancelled_button" *ngIf="item.paymentStatus == 3">Cancelled</div>
                      <div class="resume_subscription" *ngIf="item.paymentStatus == 3" (click)="resumeSubscription(item.purchaseId)">Resume Subscription</div>
                      <div class="cancel_subscription" *ngIf="item.paymentStatus == 2" (click)="cancelSubscription(item.purchaseId)">Cancel Subscription</div>
                    </div>
                  </div>
                  </div>
                 </div>
              </div>



            </div>
            <div class="col-6 col-sm-6 col-md-2 col-lg-2 col-xl-2 "></div>
        </div>
    </div>
</section>



<div class="modal" id="myModal">
  <div class="modal-dialog">
      <div class="modal-content">
              <div class="modal-body">
                <div class="payment_done">Payment Successfully</div>
                <div class="thanks">Thanks For Subscription</div>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-success" data-dismiss="modal">Ok</button>
              </div>
      </div>
  </div>
</div>