
.subscription_tab{
    font-size: 18px;
    border-bottom: solid 3px #b1b1b1;
    cursor: pointer;
}
.active_tab{
    border-bottom: solid 3px #26b91a;  
}



.exam_welcome{
    padding: 15px 10px 5px 10px;  
    margin-bottom: 15px;
}
.exam_head{
    font-size: 23px;
}
.exam_info_container{
    display: inline-flex;
    width: 100%;
    margin-top: 6px;
}

.amount{
    font-size: 25px;
    font-weight: bold;
}
.exam_info{
    padding-right: 9px;
    padding-left: 4px;
}
.validity{
    display: flex;
    align-items: center;
    font-size: 17px;
    margin-top: 3px;
}
.brdlf{
    border-right: solid 1px gray;
}
.pdlft{
    padding-left: 11px;
}
.exam_action{
    text-align: center;
    padding: 14px;
    font-size: 19px;
    border-radius: 0px;
    margin-top: 13px;
    text-transform: capitalize;
}
.green{
    color: white;
    background: #0c7d24;
}

.benefits{
    font-size: 23px;
    color: #075e55;
    font-weight: bold;
    margin-top: 22px;
    margin-left: 29px;
}

ul{
    line-height: 28px;
    margin-top: 5px;
    line-height: 28px;
    margin-top: 5px;
    font-size: 16px;
}


.on-going{
    color: green;;
}



.subscription_pack{
    border-radius: 8px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 14px;
    background-color: white;
    border: solid 2px #0cbac0;
    width: 86%;
    box-shadow: 1px 1px 17px -11px grey;
    margin-top: 26px;
    cursor: pointer;
      
    cursor: pointer;
    .pack_name{
      text-align: center;
      font-weight: bold;
       font-size: 23px;
    }
    .pack_amount{
        text-align: center;
        font-weight: bold;
      font-size: 19px;
      color: black;
      color: rgb(12, 186, 192);;
    }
    .pack_billed{
        text-align: center;
        border-radius: 20px;
        width:  40%;
        padding: 3px;
        margin: auto;
        border: solid 1px rgb(209, 208, 208);
        color: rgb(12, 186, 192);
        margin-top: 10px;
    }
    .buy_button{
        width: 90%;
        border-radius: 50px;
         text-align: center;
         padding: 8px;
         font-size: 19px;
         margin: auto;
         margin-top: 25px;
         color: rgb(255, 255, 255);
         background-color: rgb(12, 186, 192);;
    }

    .buy_button:hover{
         background-color: rgb(9, 153, 158);;
    }

    .mark{
        width: 50px;
        position: absolute;
        transform: rotate(-15deg);
        margin-left: -5px;
        margin-top: -5px;
        background: #0a7270;
    }

    .subscribed_button{
        color: rgb(255, 255, 255);
        background-color: rgb(12, 192, 87);;
    }

    .subscribed_cancelled_button{
        color: rgb(255, 255, 255);
        background-color: rgb(211, 13, 13);;
    }
    .resume_subscription{
        text-align: center;
        margin-top: 9px;
        font-weight: bold;
        color: green;
    }
    .cancel_subscription{
        text-align: center;
        margin-top: 9px;
        font-weight: bold;
        color:rgb(211, 13, 13);;
    }
}


.pack_benifit{
    margin-left: 16px;
    margin-top: 20px;
    height: 151px;
}



//Payment Successfully Pop
.payment_done{
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    color: green;
    margin-top: 12px;
}
.thanks{
    text-align: center;
    margin-top: 14px;
    margin-bottom: 15px;
}


.no_subscription{
    text-align: center;
    width: 54%;
    margin-top: 51px;
}