<app-header></app-header>
<ngx-spinner></ngx-spinner>
<div style="position: relative;">
    <div id="success-snackbar"></div>
    <div id="error-snackbar"></div>
</div>
<router-outlet></router-outlet>