/* You can add global styles to this file, and also import other style files */



//APP BUTTON
.app_submit{
    background: #2b6fd1;
      color: white;
      width: fit-content;
      text-align: center;
      padding: 6px 24px 6px 24px;
      border-radius: 4px;
      cursor: pointer;
      border: none;
      box-shadow: 1px 1px 4px -2px grey
  }
  
  .app_submit:hover{
    background: #225bac;
  }
  
  button:focus {
    outline: none !important;
  }

  
  .validationError{
    background: #ffeeef;
    font-size: 11px;
    color: #b71616;
     .validationErrorInner{
      padding: 5px;
     }
  }


  .text_right{
    text-align: right;
  }

  .text_center{
    text-align: center;
  }

  .asterisk {
    color: #ff1b1b;
  }





  
 //Following CSS applicable for success and error toster
 #success-snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: green;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 10000;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#success-snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#success-snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#error-snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: red;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 10000;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#error-snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}